<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form method="POST" action="/items">
      <input type="text" name='verdura'>
      <h4>tipo de verdura</h4>
      <input type="text" name='quantity'>
      <h4>la cantidad</h4>
      <input type="submit" value="Submit">
    </form>

  &nbsp
  <h2>Inventory</h2>

    <ul>
      <% for (item in items) { %>
        <li><%= items[item]['verdura'] %> - <%= items[item]['quantity'] %></li>
        <% } %>
      </ul>




  </body>
</html>
